<?php if(1): ?>
#nodes { }
	#nodes_button
	{
		background: #63dcff url(css/c.nodes/nodes.svg) no-repeat center;
		background-size: 24px;
	}
	.comp.fixed #nodes_button
	{
		position: fixed; top: 44px; left: 50%;	
		margin: 0 0 0 -30px;
		opacity: 0.9;
	}

	#nodes .comp_header
	{
		border: none;
	}
	#nodes .comp_body
	{
		background: #fff;
	}

#nodes_list {}
	#nodes_list ul
	{
		margin: 18px 0; padding: 0;
		list-style: none;
	}
	#nodes_list ul li
	{
		display: block; padding: 10px 24px; margin: 18px 0;
	}
	#nodes_list a
	{
		display: block;
		text-decoration: none;
		padding: 8px 24px 0;
		background: url(css/c.nodes/folder.svg) no-repeat left;
		background-size: 16px 16px;
		background-position: 0 8px;
	}
	#nodes_list a:link, #nodes_list a:visited
	{
		color: #666;
	}
	#nodes_list a:focus
	{
		outline: none;
		text-decoration: underline;
	}
	#nodes_list a.img
	{
		display: block; width: 32px; height: 32px; float: left;
		padding: 0;
	}
	#nodes_list img
	{
		display: block; width: 32px; height: 32px;
		float: left;
		margin: 0 10px 0 0;
		border: 1px solid #eee;
		border-radius: 5px;
	}
	#nodes_list div
	{
		font-size: 11px; color: #ccc;
		padding: 0; margin: 0
	}
@media (min-width: 481px)
{
	#nodes_list { width: 480px; margin: 0 auto; }
}
<?php endif; ?>

