<?php if(1): ?>
.comp
{
	color: #767676;
}
.comp_header
{
	padding: 54px 0;
	border-bottom: 1px solid #eee;
}
.comp_body
{
	overflow: hidden;
	padding: 0 5px
	background: #f9f9f9;
	background: linear-gradient(to bottom, #f2f2f2 0%,#f9f9f9 6px);
}
.comp_body .enabled
{
	display: block;
}
.comp_body .disabled
{
	display: none;
}
	.comp, .comp h1, .comp h2, .comp p, .comp li
	{
		font-family: Tahoma, "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;
		line-height: 18px;
		margin: 0 0 18px;
	}
	.comp h1
	{
		font-size: 15px; text-align: center;
	}
	.comp h2
	{
		padding: 0;
	}
	.comp h2 a, .comp h2 a:link
	{
		display: block; width: 60px; height: 60px;
		margin: 0 auto;
		text-indent: -9999px;
		border-radius: 100px;
		background-color: #333;
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
	}
	.comp h2 a:active, .comp h2 a:focus
	{
		transform: scale(1.1);
		transition: transform 0.1s ease-in-out;
		outline: none;	
		border: 1px solid #555;
		margin: -1px auto;
	}
	.comp p
	{
		font-size: 12px; text-align: center;
	}
	.comp ol
	{
		list-style: none;
		padding: 0; margin: 0;
	}
	.comp ol li
	{
		display: block; padding: 0;
		line-height: 0;
	}
	.comp ol li:hover label { color: #ff4e00; }
	.comp label
	{
		display: block; height: 18px;
		padding: 4px 5px 0; margin: 0;
		font-size: 11px; line-height: 18px; font-weight: normal;
		cursor: pointer;
		color: #767676;
	}
	.comp input.text, .comp textarea, .comp select
	{
		display: block; width: 100%;
		padding: 0 5px; margin: 0;
		font: 17px/24px Tahoma, "Arial CE", "Helvetica CE", Arial, sans-serif;
		background: #fff; color: #767676;
		box-sizing: border-box;
		border: 1px solid transparent;
		border-radius: 5px;
		-webkit-appearance: none;
	}
	.comp input.text:focus, .comp textarea:focus, .comp select:focus,
	.comp input.checkbox:focus
	{
		border: none; outline: 1px solid #aaa;
	}
	.comp input.text, .comp select
	{
		height: 48px;
	}
	.comp input.text[disabled] { color: #aaa; -webkit-text-fill-color: #aaa; }
	.comp input.text:focus { color: #111; }
	.comp input.checkbox
	{
		width: 16px;
		margin: 0 0 6px 1%;
		-webkit-appearance: checkbox;
	}
	.comp textarea
	{
		height: 100px;
		padding: 9px 5px;
		resize: vertical;
	}
	.comp textarea::-webkit-resizer
	{ 

	}
	.comp textarea:focus
	{
		
	}
	.comp input.submit_update, .comp input.submit_delete
	{
		display: block;
		margin: 24px 0 0; padding: 10px 20px;
		font: 13px/18px Tahoma, "Arial CE", "Helvetica CE", Arial, sans-serif;
		text-transform: lowercase;
		cursor: pointer;
		border: none;
		background: none;
		-webkit-appearance: none;
	}
	.comp input.submit_update
	{
		float: right;
		font-weight: bold;
		color: #ff3600;
	}
	.comp input.submit_update:hover
	{
		color: #ee2500;
	}
	.comp input.submit_delete
	{
		float: left;
		font-weight: normal;
		color: #ccc;
	}
	.comp input.submit_delete:hover
	{
		color: #aaa;
	}

@media (min-width: 481px)
{
	.comp_body form { width: 480px; margin: 0 auto; }
}
<?php endif; ?>

