<?php if(1): ?>
#footer
{
	padding: 9px 0; margin: 72px 0 0;
	font: 11px/18px Tahoma, "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;
	color: #444;
}
	#footer p { text-align: center; margin: 9px 0; }

#logout {}
	#logout a { text-decoration: none; }
	#logout a:link, #logout a:visited { color: #e00; font-weight: bold; }
	#logout a:hover, #logout a:active { color: #f00; }
	#logout a:focus { outline: none; text-decoration: underline; }
<?php endif; ?>

