<?php if(1): ?>
#node { }
	#node_button
	{
		background: #ff4e00 url(css/c.content/content.svg) no-repeat center;
		background-size: 24px;
		color: #fff;
	}
	.comp.fixed #node_button
	{
		position: fixed; top: 44px; left: 50%;	
		margin: 0 0 0 -30px;
		opacity: 0.9;
	}
	#node .comp_header { padding-top: 72px; }
	#node_body { overflow: hidden; padding: 54px 0; }
<?php endif; ?>

